body, html{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://res.cloudinary.com/simpleview/image/upload/c_limit,f_auto,h_1200,q_75,w_1200/v1/clients/norway/road-cycling-geirangerfjord-norway-2-1_70f1a01e-c7c9-4d44-a1fc-10161193fdc8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h4 {
    font-family: Tohama;
}

.wrapper{
    text-align: center;
    margin: 20px auto;
    width: 800px;
    height: auto;
    background: white;
    opacity: .8;
    
}

svg{
    margin-top: 20px;
    
}

.axis {
    font: 12px Arial;
}

.axis path, .axis line {
   shape-rendering: crispEdges;
   stroke: gray;
   fill: none;
}

circle:hover{
    stroke: blue;
}

.title{
    padding: 20px;
}

div.tooltip{
    position: absolute;
    text-align: left;
    width: 120px;
    height: auto;
    padding: 2px;
    font-family: sans-serif;
    background: lightsteelblue;
    border:none;
    border-radius: 5px;
   // pointer-events: none;
}

footer{
    padding-bottom: 20px;
    font-size: 14px ;
    font-family: Tohama;
    color: white;
}

